:root {
  --light-bg-color: rgb(255, 244, 161);
  --light-el-color: rgb(64, 224, 208);
  --aiding-color: rgb(182, 70, 95);
  --border-style: 1px solid rgba(48, 50, 59, 0.13);
}

body {
  visibility: hidden;
  margin: 0;
  background-color: var(--light-bg-color);
}

button {
  cursor: pointer;
}

button img {
  vertical-align: middle;
}

.site-content {
  margin-top: 90px;
  overflow: hidden;
}

.site-content span {
  padding: 10px;
}

.site-content span, .site-content p {
  max-width: 800px;
}

/* navbar */
nav {
  background-color: inherit;
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  border-bottom: var(--border-style);
  z-index: 3;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

li {
  margin: 15px;
}

.tab-content ul a {
  position: relative;
  color: black;
  cursor: pointer;
  background: linear-gradient(0deg, var(--aiding-color), var(--aiding-color)) no-repeat right / 0 100%;
  transition: background-size 0.6s;
}

.tab-content ul a:where(:link, :visited, :hover, :active) {
  text-decoration: none;
}

.tab-content ul a:where(:hover, :focus-visible) {
  background-size: 100% 100%;
  background-position-x: left;
}

.tab {
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
}

.tab-content {
  position: fixed;
  display: flex;
  height: calc(100% - 170px);
  width: 100%;
  padding-top: 80px;
  font-size: 2rem;
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  background-color: inherit;
  flex-direction: column;
  z-index: 2;
}

.tab-content-open {
  -ms-transform: translateY(0);
  transform: translateY(0);
}

nav img {
  height: 80px;
  filter: sepia(80%) hue-rotate(-10deg) saturate(250%);
  padding: 5px 10px;
}

#navbar-container {
  height: 90px;
  flex-grow: 1;
  display: flex;
  justify-content: end;
}

#navbar-container img {
  height: 40px;
  aspect-ratio: 1 / 1;
}

/* switch button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: black;
}

input:checked + .slider:before {
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* sections */
section {
  text-align: center;
  margin: 30px;
  background-color: var(--light-el-color);
  border-radius: 34px;
}

section p, section span {
  font-size: 1.7rem;
}

.contact-box {
  padding-bottom: 25px;
  font-size: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
}

.contact-box p {
  text-align: center;
  margin: 10px;
}

.contact-box p, #contact p {
  font-size: 1rem;
  color: darkslategrey;
  cursor: copy;
}

#contact {
  width: 100%;
  padding: 15px;
  margin: 70px 0px 0px 0px;
  border-radius: 0px;
  box-sizing: border-box;
}

.contact-box a, #contact a {
  color: darkslategrey;
}
 
@media (min-width: 920px) {
  /* navbar */
  nav {
    height: 120px;
    z-index: 2;
  }

  nav img {
    height: 110px;
  }

  li {
    display: inline-block;
    margin: 5px;
  }

  .switch {
    margin-left: 10px;
  }

  .tab {
    display: none;
  }

  .tab-content {
    padding-top: 0px;
    position: fixed;
    right: 30px;
    top: 120px;
    height: 120px;
    width: 750px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: end;
  }

  .tab-content-open {
    top: 0px;
  }

  .contact-box {
    display: none;
  }

  /* site content */
  .site-content {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #contact p {
    display: inline;
    margin-inline: 8px;
  }
}

/* dark mode */
.dark {
  background-color: rgb(169, 169, 169) !important;
}

.dark-mode {
  background-color: rgb(0, 206, 209) !important;
}

.dark img {
  filter: grayscale(20%) !important;
}
