body {
  margin: 0;
  background-color: #fff4a1;
}

.dark {
  background-color: darkgrey;
}

p {
  text-align: center;
  color: darkslategrey;
  font-size: 1rem;
  margin: 10px;
  cursor: pointer;
}

a {
  cursor: pointer;
}

.site-content {
  margin-top: 90px;
  overflow: hidden;
}

.site-content span {
  display: block;
  padding: 10px;
}

.site-content img {
  width: 100%;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.8, 0.8);
  transition: transform 3s 0.25s cubic-bezier(0, 1, 0.3 ,1),
              opacity 0.3s 0.25s ease-out;
  will-change: transform, opacity;
}

.site-content img.is-visible {
  opacity: 1;
  transform: scale(1, 1);
}

/* navbar */
nav {
  background-color: inherit;
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

li {
  margin: 15px;
}

.tab {
  overflow: hidden;
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
  font-size: 17px;
  margin-right: 10px;
}

.tab-content {
  position: fixed;
  display: flex;
  visibility: hidden;
  height: 85%;
  width: 100%;
  padding-top: 90px;
  font-size: 2rem;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  overflow: auto;
  background-color: inherit;
  flex-direction: column;
  z-index: 1;
}

.tab-content-open {
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

nav img {
  height: 80px;
  filter: sepia(80%) hue-rotate(-10deg) saturate(250%);
  padding: 5px 10px;
}

#navbar-container {
  height: 90px;
  flex-grow: 1;
  display: flex;
  justify-content: end;
}

#navbar-container img {
  height: 40px;
  width: 40px;
}

/* switch button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* sections */
section {
  text-align: center;
  margin: 30px;
  font-size: 2.5rem;
  background-color: turquoise;
  border-radius: 34px;
}

iframe {
  padding: 20px;
  padding-top: 0px;
  flex: 1 1;
  width: auto;
  min-height: 400px;
}

.dark-mode {
  background-color: darkturquoise;
}

.contact-box {
  padding-bottom: 70px;
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
}

#map {
  display: flex;
  flex-direction: column;
}

#promotions p {
  font-size: 2.5rem;
  color: black;
  margin: 10px, 0px;
}

#contact {
  padding: 15px;
  margin: 70px 0px 0px 0px;
  border-radius: 0px;
}

.contact-box a, #contact a {
  color: darkslategrey;
}


@media (min-width: 920px) {
  /* navbar */
  nav {
    height: 120px;
  }

  nav img {
    height: 110px;
  }

  li {
    display: inline-block;
    margin: 5px;
  }

  .switch {
    margin-left: 10px;
  }

  .tab {
    display: none;
  }

  .tab-content {
    padding-top: 0px;
    padding-right: 30px;
    position: fixed;
    right: 0;
    top: 0;
    height: 120px;
    width: 82%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: end;
  }

  .contact-box {
    display: none;
  }

  /* site content */
  .site-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
  }

  .site-content img {
    width: 900px;
  }

  .site-content span, p {
    width: 800px;
  }

  #contact {
    width: 100%;
  }

  #contact p {
    display: inline;
  }
}
