/* sections */
section {
  max-width: 840px;
}

.empty-cart {
  display: none;
  padding: 20px 30px;
}

.empty-cart a {
  color: black;
}

.empty-cart img {
  box-sizing: border-box;
  width : 100%;
  margin-top: 10px;
  border-radius: 20px;
}

.site-content ul {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.site-content li {
  flex-grow: 1;
  flex-basis: 95%;
  margin: 10px;
}

.food-summary {
  background-color: var(--aiding-color);
  border-radius: 15px;
  max-width: 800px;
}

.food-info {
  height: 150px;
  display: flex;
  flex-wrap: nowrap;
  border-radius: inherit;
  flex-wrap: nowrap;
}

.food-details {
  flex-grow: 1;
  text-align: left;
  padding: 10px;
  padding-right: 0;
}

.inputed-info {
  visibility: hidden;
  opacity: 0;
  box-sizing: content-box;
  position: absolute;
  top: -18px;
  left: 80px;  
  width: 150px;
  height: 90px;
  background-color: var(--aiding-color);
  border-radius: 5px;
  border: var(--border-style);
  overflow: hidden;
  z-index: 1;
  transition: 0.2s
}

.fluid-row .shown {
  visibility: visible;
  opacity: 1;
}

.personalizations button {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  cursor: pointer;
  background-color: inherit;
  border-width: 0px;
}

.personalizations span {
  font-size: 0.9rem;
  padding: 0;
}

.fluid-row {
  position: relative;
  height: 0px;
}

.inputed-info {
  padding: 5px;
}

li .img-container {
  border-radius: 0 15px 0 0;
}

.img-container {
  flex-shrink: 0;
  height: inherit;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.img-container img {
  height: 100%;
}

.money-summary {
  height: 50px;
  border-top: var(--border-style);
  display: flex;
}

.price-summary {
  flex-grow: 1;
  text-align: left;
  padding-left: 15px;
  flex-shrink: 0;
}

.price-summary span {
  position: relative;
  top: -5px;
  padding: 0 5px 0 0;
}

.modify-quantity {
  display: inline-block;
  padding: 5px 0;
}

.modify-quantity button {
  cursor: pointer;
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: var(--aiding-color);
}

.modify-quantity button img {
  height: 20px;
}

.not-less img {
  cursor: default;
  opacity: 0.7;
}

.ordered-quantity {
  font-size: 1.1rem;
}

.price {
  font-size: 1.3rem;
}

.trash-and-list-container {
  display: flex;
  width: 150px;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.inputed-text {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 180px;
  height:125px;
  padding: 10px;
  bottom: 0;
  left: -60px;
  background-color: var(--aiding-color);
  border: var(--border-style);
  border-radius: 15px;
  text-align: left;
  z-index: 1;
  transition: 0.4s;
}

.trash, .list {
  border: 0;
  margin: 0;
  padding: 0;
  height: 40px;
  background-color: var(--aiding-color);
  opacity: 0.6;
}

.trash-and-list-container button:hover {
  opacity: 1;
}

.trash-and-list-container img {
  height: inherit;
}

/* summary */
.summed-price-container, .discounts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: var(--border-style);
  padding: 16px 16px 8px;
}

.payment-options {
  margin-top: 10px;
  border-bottom: var(--border-style);
}

.payment-options span, .payment-options a {
  padding: 0;
  color: black;
  font-size: 1.5rem;
}

.discounts {
  border-bottom: none;
  padding: 8px 16px 16px;
}

.submitions input {
  position: relative;
  top: 2px;
  border-radius: 8px;
  height: 30px;
  width: 150px;
  background-color: rgb(204, 204, 204);
  border-style: none;
  outline: none;
  padding-inline: 10px;
}

.submitions button {
  border-style: none;
  padding: 0;
  padding-right: 10px;
  margin: 0;
  background-color: inherit;
}

.discounts img {
  height: 30px;
}

.big-screen-only {
  display: none;
  flex-grow: 1;
  justify-content: right;
}

fieldset {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  border: none;
  margin: 0;
  padding: 0;
}

.choice {
  display: flex;
  margin: 20px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.choice span {
  padding: 0;
}

/* custom radio button */
.custom-radio {
  display: flex;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 24px;
}

.custom-radio input {
  position: absolute;
  visibility: hidden;
  height: 0;
  width: 0;
}

.radio-dot {
  position: absolute;
  top: 1px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid var(--aiding-color);
  border-radius: 50%;
}

.custom-radio input:checked ~ .radio-dot {
  background-color: inherit;
}

.radio-dot:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-radio input:checked ~ .radio-dot:after {
  display: block;
}

.custom-radio .radio-dot:after {
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--aiding-color);
}

/* others */
#map {
  display: flex;
  flex-direction: column;
}

iframe {
  margin: 0 20px 20px 20px;
  max-width: 800px;
  aspect-ratio: 3 / 2;
  border-radius: 20px;
}


@media (min-width: 920px) {
  .trash, .list {
    padding-inline: 12px;
  }

  .personalizations .inputed-info {
    visibility: inherit;
    opacity: 1;
    width: 550px;
    height: 18px;
    padding: 0;
    border: none;
  }

  .inputed-text {
    left: -200px;
  }

  #summary {
    width: 840px;
  }

  .discounts {
    display: none;
  }

  .big-screen-only {
    display: flex;
  }

  .summed-price-container{
    justify-content: left;
  }

  .summary-text {
    padding-left: 26px;
  }

  fieldset {
    grid-template-columns: repeat(2, 1fr);
  }

  iframe, .food-info {
    width: 800px;
  }
}
